.location_container {
  /* background-color: pink; */
  height: 100%;
  width: 100%;
}
.location_sub_container {
  display: flex;
  height: 500px;
  position: relative;
  margin: 0 auto;

  /* background-color: blue; */
}
.location_left {
  /* background-color: blueviolet; */
  display: flex;
  flex: 2;
}

.location_right {
  background-color: green;
  display: flex;
  /* flex: 1; */
}
@media screen and (min-width: 760px) {
  .location_right {
    /* visibility: hidden; */
    /* display: none; */
    flex-direction: column;
  }
}

.location_right_img {
  /* background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch1_vlksgq"); */
  position: absolute;
  left: calc(50% + 80px);
  right: 0;
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-position: 100%;
  top: 0;
}

.location_sub_left {
  /* align-items: ; */
  padding-top: 40;
  padding-right: 60px;
  display: flex;
  width: 100%;
  /* background-color: aquamarine; */
}
.location_logo_img {
  /* height: 100px; */
  /* width: 100px; */
  /* padding: 1; */
  /* background-color: blueviolet; */
}
.location_text_container {
  padding: 20px;
  /* background-color: blue; */
}

.location_city {
  font-weight: 600;
  font-size: 16px;
  margin-right: 8px;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.location_img {
  /* background-color: antiquewhite; */
  display: flex;
  height: 50px;
}
.location_order_food {
  font-size: 24px;
  font-weight: 300;
  /* width: 600px; */
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  letter-spacing: -0.3px;
  color: #686b78;
}

.location_popular_city {
  font-weight: 400;
  font-size: 15px;
  color: #a9abb2;
  margin: 30px 0 10px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.location_dropdown {
  border: 1px solid #fc8019;
}
